form{
  width: 50pc;
  margin-left: 17pc;

}
h1
{
  margin-top: 5pc;
}
.body
{
  background-color: antiquewhite;
}
/* button
{
  margin-left: 25pc;
} */

table, th, td {
  border: 1px solid black;
}
table
{
  margin-top: 5pc;
  margin-left: 5pc;
}
